
footer{
    background-color: aquamarine;
}

.color {
   background-color: black;
   padding-bottom: 7px;
   padding-top: 7px;
   

}
.footer li{
    display: flex;
    list-style-type: none;
    list-style: none;
    

}


.footer ul{
    display: flex;
    color: rgb(247, 243, 243);
    justify-content: space-around;
    text-align: center;
    text-decoration-line: underline;
    padding: 30px;
    background:linear-gradient(-45deg, #1e336d,#1dc8ac);;
   
   
}
.footer p{
    display: flex;
    color: rgb(247, 243, 243);
    justify-content: center;
    background:linear-gradient(-45deg, #1e336d,#1dc8ac);;
    width: 100%;
    height: 100%;

   
}