
.brr div{
    display: flex;
    justify-content: space-around;
    align-items: end;
    padding: 20px;
    cursor: pointer;
    background:linear-gradient(-45deg, #1dc8ac, #1e336d);;

}

.imagen a{
    display: block;
    justify-content: space-around;
    align-items: start;
    

}




