
.brr div{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding: 15px;
    cursor: pointer;
    background:linear-gradient(-45deg, #1dc8ac, #1e336d);;
    transition: var(--transition);

}

.imagen a{
    display: block;
    justify-content: flex-start;
    align-items: start;
    

}




