.Posts section{
    margin-top: 6rem;
    


}

.post_container{
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 4rem;
    width: var(--container-width-lg);
    margin-top: 1.5rem;
    margin-right: 15rem;
    

}