 article{
    align-items: center;
    width: var(--container-width-lg);
    background: var(--color-gray-900);
    padding: 1rem;
    border-radius: var(--radius-4);
    padding-bottom: 2rem;
    transition: var(--transition);
    cursor: default;
    
    

}
article:hover{
    box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.1);
}

.post_imagen div{
    display: flow-root;
    border-radius: var(--radius-4);
    overflow: hidden;
}
img{
    align-items:center ;

}
h{
    text-align: start;
    text-decoration-style: none;
    font-family: "Poppins", sans-serif;
    margin: 1rem 0 0.6rem;
    font-size: 2rem;
    cursor: default;

}

 

p{
    text-align: start;
    text-decoration-style: none;
    font-family: "Poppins", sans-serif;
    margin: 1.5rem 0 0.6rem;
    font-size: 1.5rem;
}

